[influxdb]

host = "localhost"
port = "8086"
org = "acme"
bucket = "fping"
measurement = "ping"
token = "<InfluxDB v2 API Token>"
fping = "/usr/bin/fping"

[logs]
logfile = "/var/log/infping/infping.log"

[hosts]
hosts = [
    "192.168.0.1",
    "192.168.0.2",
]

