[influxdb]

host = "192.168.114.30"
port = "8086"
db = "fping"
measurement = "ping"
precision = "ms"
retentionpolicy = "infinite"
user = "fping"
pass = "fpingdakjwgkawjnmbjhwtuia"

[logs]
logfile = "/var/log/infping/infping.log"

[hosts]
hosts = [
    "192.168.0.1",
    "192.168.0.2",
]

